:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-theme {
    --background-color: #282b32;
    --text-color: #ffffff;
}

.bodyElements {
    background-color: var(--background-color);
    color: var(--text-color);
}