@import './base.css';

:root {
  --background-color: #f7f2f0;
  --text-color: #000000;
  --text-color-rgb: 0, 0, 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 80%;
  margin: 0 auto;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Open Sans', sans-serif;

  background-image: url('@/assets/background_Clear.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center -60px;
  width: 100%;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Consolas', monospace;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.icon {
  color: #c16ed2;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Consolas', monospace;
}

body.dark-theme {
  --background-color: #282b32;
  --text-color: #ffffff;
  --text-color-rgb: 255, 255, 255;
}

.bodyElements {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.footer {
  background-color: var(--background-color);
  color: #6b6e6c;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
}

.appears-left {
  animation: appearLeft 1s ease-out;
}

@keyframes appearLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appears-right{
  animation: appearRight 1s ease-out;
}

@keyframes appearRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.appears-top {
  animation: appearTop 1s ease-out;
}

@keyframes appearTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}